{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "kendo/js/kendo.web.min.js" %}"></script>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            overflow: hidden;
            margin: 0;
            padding: 0
        }

        #map_canvas {
            height: 100%
        }

        #info {
            color: #ffffff;
            background: rgba(29, 29, 29, 0.5);
            position: absolute;
            top: 120px;
            right: -500px;
            border-radius: 5px;
            box-shadow: 1px 1px 15px #4E4E4E;
            transition: all 0.5s;
            padding: 15px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .label {
            display: inline-block;
            min-width: 180px;
        }

        .field {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCdFYF6dSltmdfip7e7Fyfo2QdMOWlKe08&sensor=true&language=ru">
    </script>
    <script type="text/javascript">
        function initialize() {

            var mapOptions = {
                center: new google.maps.LatLng(43.357138, 47.063713),
                zoom: 8,
                minZoom: 7, // Minimum zoom level allowed (0-20)
                maxZoom: 10,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
                    mapOptions);

            var map_points = [];

            function clear_markers() {
                for (var i = 0; i < map_points.length; i++) {
                    map_points[i].setMap(null);
                }
                map_points.length = 0;
            }

            var infowindow;
            var infoTemplate = kendo.template($("#infoTemplate").html());

            function compare(x, y) {
                for (var f in x) {
                    if (x.hasOwnProperty(f) && y.hasOwnProperty(f)) {
                        if (x[f] === y[f]) {
                            continue;
                        } else {
                            return false
                        }
                    }
                }
                return true;
            }

            var last = 0;

            function set_markers() {

                var new_points = {};

                $.post("/admin/point/read/", {}, function (r) {
                    clear_markers();
                    for (var i = 0; i < r.length; i++) {

                        map_points.push(new google.maps.Marker({
                            id: r[i].id,
                            title: r[i].name,
                            position: new google.maps.LatLng(r[i].lt, r[i].ln),
                            map: map,
                            icon: r[i].type,
                            custom_info: r[i].info
                        }))
                        google.maps.event.addListener(map_points[map_points.length-1], 'mouseover', function () {
                            infowindow = new google.maps.InfoWindow({
                                content: '<div id="infowindow">' +
                                        '<div id="infowindowtitle"></div>' +
                                        '<div id="infowindowcontent">' +
                                        this.title +
                                        '</div>' +
                                        '</div>'
                            });
                            infowindow.open(map, this);
                        });
                        google.maps.event.addListener(map_points[map_points.length-1], 'mouseout', function () {
                            infowindow.close();
                        });
                        google.maps.event.addListener(map_points[map_points.length-1], 'click', function () {
                            last = this.id;
                            if ($("#info").css("right") == "15px") {
                                $("#info").css({right: "-500px"});
                            }
                            $("#info").html(infoTemplate(this)).css({right: "15px"});

                        });
{#                        if (r[i].id == last) {#}
{##}
{##}
{#                             $("#info").html(r[i]);#}
{#                        }#}
                    }
{#                    setTimeout(set_markers, 2000);#}
                });
            }

            set_markers();

            $("#info").click(function (e) {
                $(this).css({right: "-500px"});
            })
        }
    </script>
</head>
<body onload="initialize()">

<script id="infoTemplate" type="text/x-kendo-template">
<ul>
    <li ><span class="label">Населенный пункт</span><span class="filed">#= data.title#</span></li >
    #console.log(data);var s = data.custom_info.split(","); for (var i=0; i<s.length; i++) { #
    <li >
         #var f=s[i].substr(0,s[i].indexOf(":")), v=s[i].substr(s[i].indexOf(":")+1,s[i].length-1);#
         <span class="label">#= f #</span>
         <span class="filed">#= v #</span>
    </li>
    # } #
</ul>
</script>

<div id="map_canvas" style="width:100%; height:100%"></div>
<div id="info"></div>
</body>
</html>
